body {
    margin: 0;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index:2;
}

nav ul li {
    --c: rgb(106, 218, 32);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}


@keyframes animated{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(360deg) translateX(260px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(360deg) translateX(260px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
} 

.solo-button {
    position: absolute;
    z-index: 1;
    margin-top: 38rem;
}

.solo{
        --c: rgb(218, 218, 32);
    color: var(--c);
    font-size: 1rem;
    border: 0.3em solid var(--c);
    border-radius: 50%;
    width: 8em;
    height: 8em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.5em;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    background-color: black;
}
.solo:hover{
    animation: animated 5.0s;
}

.hidden {
    visibility: hidden;
}

.modal-outer {
    display: grid;
    position: fixed;
    height: 100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2;
}

.modal-outer .container{
    width: 100%;
}

.modal-outer.open{
    opacity: 1;
    pointer-events: all;
}

.modal-inner {
    max-width: 100%;
    min-width: auto;
    padding: 0rem;
    border-radius: 5px;
    min-height: 200px;
    transform: translateY(-200%);
    transition: transform 2s;
    margin-right: 13rem;
}

.modal-outer.open .modal-inner {
    transform: translateY(0);
}




/* Counting time */

.container {
    background-image: url(./e31789e82dd7b6f5911c1efee36829e8.jpe);
    background-size: cover;
    position: relative;
    margin: 14rem 7rem 5rem 7rem;
    font-size: 8rem;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 7px solid rgb(218, 218, 32);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.359);
    transform: skewX(-7deg); 
    padding-bottom: 5rem;
}
.counting {
    text-align: start;
    margin-left: 1rem;

}
.leAnimate{
    animation: animate 0.4s;
}


.buttons {
    text-align: center;
    height: 18vh;
}

.reset,
.start,
.pause {
    color: rgb(255, 255, 255);
    background-color: rgb(118, 228, 93);
    padding: 1rem 4rem;
    border-radius: 35px;
    border: 3px solid white;
    font-size: 1.5rem;
    margin: 0rem 1rem 3rem 0rem;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.359);
    transform: skewX(10deg);
    margin-top: 8rem;
}

.reset:hover,
.start:hover,
.pause:hover {
    animation: animate 0.4s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-10deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(10deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}

.closed {
    display: none;
}