body {
    margin: 0;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index:2;
}

nav ul li {
    --c: rgb(106, 218, 32);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}


@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(360deg) translateX(260px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(360deg) translateX(260px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
} 

.solo-button {
    position: absolute;
    z-index: 1;
    margin-top: 38rem;
}

.solo{
        --c: rgb(218, 218, 32);
    color: var(--c);
    font-size: 1rem;
    border: 0.3em solid var(--c);
    border-radius: 50%;
    width: 8em;
    height: 8em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.5em;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    background-color: black;
}
.solo:hover{
    animation: animate 5.0s;
}

.hidden {
    visibility: hidden;
}

.modal-outer {
    display: grid;
    background: hsla(50, 100%, 50%, 0.7);
    position: fixed;
    height: 100vh;
    width:100 vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2;
}

.moda-outer.open{
    width: 100%;
}

.modal-inner {
    max-width: 600px;
    min-width: 400px;
    padding: 2rem;
    border-radius: 5px;
    min-height: 200px;
    background: rgb(218, 79, 32);
    transform: translateY(-300%);
    transition: transform 2s;
}

.modal-outer.open .modal-inner {
    transform: translateY(0);
}